<html>

<head>
  <title>CET - Applied Innovations Institute</title>

  <style>
    body {background:slategrey}
    hr {color:sienna}
    h1 {color:gold; background:navy;}
    h2 {color:black; background:white;}}
  </style>
</head>

<body>
  <h1>Applied Innovations Institute: Berkeley </h1>

  <br>

  <hr>
  <h2>
  <table width="100%">
    <tbody>
      <td align=right>Create Project</td>
      <td align=center>Search for Projects</td>
      <td align=left>My Projects</td>
      <td align=right><%= link_to "Login", "/auth/developer", :id => 'Login' %></td>
    </tbody>
  </table>
  </h2>
  <hr>

  <table align=center border=2 width="65%">
    <thead>
      <th>Top Projects</th>
      <th>Trending Projects</th>
      <th>New Projects</th>
    </thead>

    <tbody>
      <tr>
        <td>1) ...</td>
        <td>1) ...</td>
        <td>1) ...</td>
      </tr>

      <tr>
        <td>2) ...</td>
        <td>2) ...</td>
        <td>2) ...</td>
      </tr>

      <tr>
        <td>3) ...</td>
        <td>3) ...</td>
        <td>3) ...</td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <img src="http://www.i.imgur.com/F2YXz.jpg">
</body>
</html>
